---
omada_version: 6.0.0.24
omada_version_defaults:
  6.0.0.24:
    base_path: 2025/202510/20251031
    deb_checksum: 25030df3a416266922395f447be8a6e3f7b2e2cf0de486a0fa9914b96e3fc11f
    deb_suffix: 20251027202535
  5.15.24.19:
    base_path: 2025/202508/20250802
    deb_checksum: e38e59fb429f4b33727679f3032abcb2b4308d93191429691317b4d26f65f525
    deb_suffix: 20250724152622
  5.15.24.18:
    base_path: 2025/202507/20250703
    deb_checksum: 5e34f6a1f285e578c36995717aff3d11aeec24e6114469431dbe10c0aaebb637
    deb_suffix: 20250630184434
  5.15.6.7:
    base_path: 2024/202412/20241224
    deb_checksum: 0d288193340847051bea93c2d1c2ea00746d945666348bb36867e11b67154fc8
    deb_prefix: Omada_SDN_Controller
  5.14.32.3:
    base_path: 2024/202411/20241101
    deb_checksum: 934b34dac9469307dee37e10edd9707595171d65bc2db114002a18f38bf48899
    deb_prefix: Omada_SDN_Controller
  5.14.32.2:
    base_path: 2024/202410/20241015
    deb_checksum: e599a118cca45b26d6c9c889eefdf62c4fc2c2221140f3cbc53d6dc16f5ed233
    deb_prefix: Omada_SDN_Controller
  5.14.26.1:
    base_path: 2024/202407/20240710
    deb_checksum: dcb118191afbec7724c556c0a82d2482ab689e8c485204517295e72ae724d345
    deb_prefix: Omada_SDN_Controller
  5.13.30.8:
    base_path: 2024/202402/20240227
    deb_checksum: 94d68a27b81c8ddacf307eeba7c632a09277e233a8c4721ba1efb34b3853083d
    deb_prefix: Omada_SDN_Controller
  5.12.7:
    base_path: 2023/202309/20230920
    deb_checksum: 28a004ae360d68de463265b65b7335124fcf6be99f02e69047c2644f4c678aa0
    deb_platform: Linux
    deb_prefix: Omada_SDN_Controller

omada_arch: x64
omada_base_url: https://static.tp-link.com/upload/software
omada_base_path: "{{ omada_version_defaults[omada_version].base_path }}"
omada_deb_basename: "{{ omada_deb_prefix }}_v{{ omada_version }}_{{ omada_deb_platform }}_{{ omada_arch }}{% if omada_deb_suffix %}_{{ omada_deb_suffix }}{% endif %}.deb"
omada_deb_checksum: "sha256:{{ omada_version_defaults[omada_version].deb_checksum }}"
omada_deb_platform: "{{ omada_version_defaults[omada_version].deb_platform | default('linux') }}"
omada_deb_prefix: "{{ omada_version_defaults[omada_version].deb_prefix | default('omada') }}"
omada_deb_suffix: "{{ omada_version_defaults[omada_version].deb_suffix | default('') }}"
omada_deb_url: "{{ omada_base_url }}/{{ omada_base_path }}/{{ omada_deb_basename }}"

omada_root: /opt/tplink/EAPController
omada_keystore_dir: "{{ omada_root }}/data/keystore"
omada_keystore_file: "{{ omada_keystore_dir }}/eap.keystore"
omada_properties_dir: "{{ omada_root }}/properties"
omada_config_file: "{{ omada_properties_dir }}/omada.properties"
omada_log_config_file: "{{ omada_properties_dir }}/log4j2.properties"

omada_base_packages:
  - curl
  - default-jre-headless
  - jsvc
omada_extra_packages: []
omada_packages: "{{ omada_base_packages + omada_extra_packages }}"

omada_user: omada
omada_group: omada

omada_service: tpeap
omada_service_state: started
omada_service_enabled: true

omada_http_port: 8088
omada_http_proto: tcp
omada_https_port: 8043
omada_https_proto: tcp
omada_discover_port: 29810
omada_discover_proto: udp
omada_manage_port: 29811
omada_manage_proto: tcp
omada_adopt_port: 29812
omada_adopt_proto: tcp
omada_upgrade_port: 29813
omada_upgrade_proto: tcp
omada_upgrade2_port: 29814
omada_upgrade2_proto: tcp
omada_packet_port: 29815
omada_packet_proto: tcp
omada_terminal_port: 29816
omada_terminal_proto: tcp
omada_initialization_port: 27001
omada_initialization_proto: udp
omada_mongodb_port: 27017
omada_mongodb_proto: tcp

omada_firewalld_services:
  omada:
    state: present
    description: Enable this if you want to run a Omada SDN Controller.
    short: Omada SDN Controller Service
    ports:
      - "{{ omada_http_port }}/{{ omada_http_proto }}"
      - "{{ omada_https_port }}/{{ omada_https_proto }}"
      - "{{ omada_discover_port }}/{{ omada_discover_proto }}"
      - "{{ omada_manage_port }}/{{ omada_manage_proto }}"
      - "{{ omada_adopt_port }}/{{ omada_adopt_proto }}"
      - "{{ omada_upgrade_port }}/{{ omada_upgrade_proto }}"
      - "{{ omada_upgrade2_port }}/{{ omada_upgrade2_proto }}"
      - "{{ omada_packet_port }}/{{ omada_packet_proto }}"
      - "{{ omada_terminal_port }}/{{ omada_terminal_proto }}"
      - "{{ omada_initialization_port }}/{{ omada_initialization_proto }}"
